@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(../src/Assets/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: 70% -30%;
  background-size: 700px;
}

#difference{
  background-image: url(../src/Assets/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: -20% -50%;
  background-size: 500px;
}

.simply{
  background-image: url(../src/Assets/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
}

input::placeholder{
  font-size: 15px;
}